[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
twine = "*"
pylint = "*"
black = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
